<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fangtang.tv.sdk.ui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.IotActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="skip2page"
                    android:pathPrefix="/iot"
                    android:scheme="fangtang" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.NlpActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="skip2page"
                    android:pathPrefix="/nlp"
                    android:scheme="fangtang" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.DeviceFindDialogActivity"
            android:theme="@style/DialogActivity" />
        <activity
            android:name=".view.BindCodeDialogActivity"
            android:theme="@style/DialogActivity" />
        <activity
            android:name=".view.UnbindDeviceDialogActivity"
            android:theme="@style/DialogActivity" />

    </application>

</manifest>